<template>
  <div class="bg-stone-400 grid grid-cols-1 grid-flow-column gap-1 md:gap-4 p-8">
    <div class="m-auto">
      <input id="file" type="file" accept="application/pdf,image/*" @change="onFileChange" />
      <label
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
        for="file"
        >Choose a file</label
      >
    </div>
    <div class="m-auto">
      <img v-if="loaded" class="h-auto max-w-lg" :src="url" alt="image preview" />
    </div>
  </div>
</template>
<style scoped lang="scss">
input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
input[type='file'] + label {
  cursor: pointer; /* "hand" cursor */
}
</style>

<script setup>
import { ref } from 'vue'

let url = ref('')
let loaded = ref(false)

const onFileChange = async (e) => {
  const file = e.target.files[0]
  url.value = URL.createObjectURL(file)
  if (url.value.length > 0) {
    loaded.value = true
  }
}
</script>
