<template>
  <div class="bg-orange-400 grid grid-cols-3 gap-1 md:gap-4 content-center">
    <div class="row-span-3 bg-rose-500 p-3 md:p-5 text-center flex">
      <div class="m-auto">
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
          @click="locateMe()"
        >
          Get location
        </button>
      </div>
    </div>
    <div class="col-span-2 bg-rose-500 p-3 md:p-5 text-white text-center md:text-left">
      <span>Logger:</span>
      <p ref="allowing" class="d-none">Allowing location...</p>
      <p ref="alreadyAllowed" class="d-none">Location is already allowed</p>
      <p ref="denied" class="d-none">User denied location we can't use current location...</p>
    </div>
    <div class="row-span-2 col-span-2 bg-rose-500 p-3 md:p-5 text-white text-center md:text-left">
      <h2>Current Location:</h2>
      <span>Latitude: {{ lat }} </span>
      <br />
      <span>Longitude: {{ lan }}</span>
    </div>
  </div>
</template>
<style scoped lang="scss">
.d-none {
  display: none;
}
</style>
<script setup>
import { ref } from 'vue'
import bus from '@/utils/eventBus'

let allowing = ref(null)
let alreadyAllowed = ref(null)
let denied = ref(null)

let lat = ref(0)
let lan = ref(0)
let options = {
  enableHighAccuracy: true,
  maximumAge: 30000,
  timeout: 27000
}

const error = async (error) => {
  // alert('Sorry, we need your location to find the best offers around you.')
  displayElement(allowing.value, false)
  displayElement(alreadyAllowed.value, false)
  switch (error.code) {
    case error.PERMISSION_DENIED:
      displayElement(denied.value)
      break
    case error.POSITION_UNAVAILABLE:
      //"Location information is unavailable."
      break
    case error.TIMEOUT:
      // "The request to get user location timed out."
      break
    case error.UNKNOWN_ERROR:
      // "An unknown error occurred."
      break
  }
}
const showPosition = async (position) => {
  displayElement(alreadyAllowed.value)
  lat.value = position.coords.latitude
  lan.value = position.coords.longitude
  bus.$emit('getGeolocation', position)
  displayElement(alreadyAllowed.value, false)
}

const locateMe = async () => {
  lat.value > 0 && lan.value > 0
    ? displayElement(allowing.value, false)
    : displayElement(allowing.value)
  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(showPosition, error, options)
    displayElement(allowing.value, false)
  } else {
    console.log('Geolocation is not supported by this browser.')
  }
}

const displayElement = (element, show = true) => {
  element.classList.contains('d-none') && show
    ? element.classList.remove('d-none')
    : setTimeout(() => {
        element.classList.add('d-none')
      }, 3000)
}
</script>
