<template>
  <div id="map"></div>
</template>
<style scoped lang="scss">
#map {
  height: 600px;
  width: 100%;
}
</style>

<script setup>
import 'leaflet/dist/leaflet.css'
import { ref, onMounted } from 'vue'
import L from 'leaflet'
import bus from '@/utils/eventBus'

let zoom = ref(7)
let center = ref([37.7749, -122.4194])
let map = ref(null)

/**
 * 
 */
const createMap = async () => {
  map.value = L.map('map').setView(center.value, zoom.value)
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution:
      'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
  }).addTo(map.value)
  createMarker('Current position is definded by default')
}
/**
 * 
 * @param {String} message 
 */
const createMarker = async (message) => {
  L.marker(center.value)
    .addTo(map.value)
    .bindPopup(message)
    .openPopup()
}
/**
 * 
 */
const updateMap = async () => {
  map.value.setView(center.value, zoom.value)
  createMarker('Position was updated by the current user location')
}

onMounted(() => {
  bus.$on('getGeolocation', (position) => {
    console.debug('leaflet location: ', position)
    center.value = [position.coords.latitude, position.coords.longitude]
    updateMap()
  })
  createMap()
})
</script>
