<template>
  <div class="loader">
    <ul class="circle">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</template>
<style scoped lang="scss">
.loader {
//   display: flex;
//   place-items: center;
  //   overflow: hidden;
  //   height: 100%;
  //   position: absolute;
  //   width: 100%;
  //   min-height: 150px;
  //   margin: 3rem 0 0 -1.2rem;

  ul {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999999;
    margin: 0;
  }

  .circle {
    display: block;
    height: 14px;
    margin: 0 auto;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    padding: 0;

    li {
      display: block;
      float: left;
      width: 10px;
      height: 10px;
      line-height: 10px;
      padding: 0;
      position: relative;
      margin: 0 0 0 4px;
      background: #999;
      animation: preload 1s infinite;
      top: -50%;
      border-radius: 100%;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}
</style>
