<template>
  <div class="bg-lime-500 grid grid-cols-1 gap-1 md:gap-4 p-8 flex">
    <div class="m-auto">
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
        @click="pwaInstall"
      >
        Install The PWA
      </button>
    </div>
    <div class="m-auto">
      <p class="text-white text-center">Works only on production</p>
    </div>
  </div>
</template>
<style scoped lang="scss"></style>

<script setup>
import { onBeforeMount } from 'vue'

let pwaInstallEvent

onBeforeMount(() => {
  console.debug('OnBeforeMount')
  window.addEventListener('beforeinstallprompt', (e) => {
    e.preventDefault()
    pwaInstallEvent = e
  })
  console.debug(pwaInstallEvent)
})

const pwaInstall = async () => {
  pwaInstallEvent.prompt()
  const { outcome } = await pwaInstallEvent.userChoice
  if (outcome === 'accepted') {
    // Take extra actions if the user opted for installation.
  } else {
    // Take extra actions if the user cancels.
  }
}
</script>
