<template>
  <div class="bg-purple-400 grid grid-cols-1 gap-1 md:gap-4 p-8 flex">
    <div class="m-auto">
      <button
        type="button"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
        :class="{ 'is-primary': !isCameraOpen, 'is-danger': isCameraOpen }"
        @click="toggleCamera"
      >
        <span v-if="!isCameraOpen">Open Camera</span>
        <span v-else>Close Camera</span>
      </button>
    </div>
    <div class="m-auto">
      <div
        v-if="isCameraOpen"
        v-show="!isLoading"
        class="camera-box"
        :class="{ flash: isShotPhoto }"
      >
        <div class="camera-shutter" :class="{ flash: isShotPhoto }"></div>

        <video v-show="!isPhotoTaken" ref="camera" :width="450" :height="337.5" autoplay></video>

        <canvas
          v-show="isPhotoTaken"
          id="photoTaken"
          ref="canvas"
          :width="450"
          :height="337.5"
        ></canvas>
      </div>
    </div>
    <div class="m-auto">
      <div v-if="isCameraOpen && !isLoading" class="camera-shoot">
        <button
          type="button"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
          @click="takePhoto"
        >
          <img src="https://img.icons8.com/material-outlined/50/000000/camera--v2.png" />
        </button>
      </div>
    </div>
    <div class="m-auto">
      <div v-if="isPhotoTaken && isCameraOpen">
        <a
          id="downloadPhoto"
          class="text-red-500 hover:text-red-700"
          download="photo.jpg"
          role="button"
          @click="downloadImage"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</template>
<style scoped lang="scss">
.camera-box {
  .camera-shutter {
    opacity: 0;
    width: 450px;
    height: 337.5px;
    background-color: #fff;
    position: absolute;

    &.flash {
      opacity: 1;
    }
  }
}

.camera-shoot {
  margin: 1rem 0;

  button {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    img {
      height: 35px;
      object-fit: cover;
    }
  }
}
</style>
<script setup>
import { ref } from 'vue'

let isCameraOpen = ref(false)
let isPhotoTaken = ref(false)
let isShotPhoto = ref(false)
let isLoading = ref(false)
// let link = ref('#')
let camera = ref(null)
let canvas = ref(null)

const toggleCamera = async () => {
  if (isCameraOpen.value) {
    isCameraOpen.value = false
    isPhotoTaken.value = false
    isShotPhoto.value = false
    stopCameraStream()
  } else {
    isCameraOpen.value = true
    createCameraElement()
  }
}

const createCameraElement = async () => {
  isLoading.value = true

  const constraints = (window.constraints = {
    audio: false,
    video: {
      facingMode: 'environment'
    }
  })

  navigator.mediaDevices
    .getUserMedia(constraints)
    .then((stream) => {
      isLoading.value = false
      camera.value.srcObject = stream
    })
    .catch((error) => {
      isLoading.value = false
      alert("May the browser didn't support or there is some errors.")
      console.debug(error)
    })
}

const stopCameraStream = async () => {
  let tracks = camera.value.srcObject.getTracks()

  tracks.forEach((track) => {
    track.stop()
  })
}

const takePhoto = async () => {
  if (!isPhotoTaken.value) {
    isShotPhoto.value = true

    const FLASH_TIMEOUT = 50

    setTimeout(() => {
      isShotPhoto.value = false
    }, FLASH_TIMEOUT)
  }

  isPhotoTaken.value = !isPhotoTaken.value

  const context = canvas.value.getContext('2d')
  context.drawImage(camera.value, 0, 0, 450, 337.5)
}

const downloadImage = async () => {
  const download = document.getElementById('downloadPhoto')
  const myCanvas = document
    .getElementById('photoTaken')
    .toDataURL('image/jpeg')
    .replace('image/jpeg', 'image/octet-stream')
  download.setAttribute('href', myCanvas)
}
</script>
