<template>
  <div class="bg-cyan-600 grid grid-cols-1 gap-1 md:gap-4 p-8 flex">
    <div class="m-auto">
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
        @click="notifyMe"
      >
        Test Notifications
      </button>
    </div>
    <div class="m-auto text-white">
      <p ref="allowing" class="d-none">Allowing notification...</p>
      <p ref="alreadyAllowed" class="d-none">Notification are already allowed</p>
    </div>
  </div>
</template>
<style scoped lang="scss">
.d-none {
  display: none;
}
</style>
<script setup>
import { ref } from 'vue'

let allowing = ref(null)
let alreadyAllowed = ref(null)

const notifyMe = async () => {
  if (!('Notification' in window)) {
    // Check if the browser supports notifications
    alert('This browser does not support desktop notification')
  } else if (Notification.permission === 'granted') {
    // Check whether notification permissions have already been granted;
    // if so, create a notification
    displayElement(alreadyAllowed.value)
    const notification = new Notification('Hi there!')
    console.debug(notification)
    displayElement(alreadyAllowed.value, false)
  } else if (Notification.permission !== 'denied') {
    displayElement(allowing.value)
    // We need to ask the user for permission
    Notification.requestPermission().then((permission) => {
      // If the user accepts, let's create a notification
      if (permission === 'granted') {
        const notification = new Notification('Hi there!')
        console.debug(notification)
        displayElement(allowing.value, false)
      }
    })
  }
}

const displayElement = (element, show = true) => {
  show
    ? element.classList.remove('d-none')
    : setTimeout(() => {
        element.classList.add('d-none')
      }, 3000)
}
</script>
