<template>
  <div class="bg-violet-400 grid grid-cols-1 gap-1 md:gap-4 p-8 flex">
    <div class="m-auto">WebAuthn test</div>
    <form @submit.prevent="submitForm">
      <div class="m-auto grid grid-cols-2">
        <div class="row-span-2">
          <label
            for="first_name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >First name</label
          >
          <input
            :disabled="disabled"
            type="text"
            id="first_name"
            v-model="firstname"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="John"
            required
          />
          <div v-if="$v.$error" class="error">Firstname is required.</div>
          <div v-if="$v.$error" class="error">Firstname must be at least 3 characters.</div>
        </div>
        <div class="row-span-2">
          <label
            for="last_name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Last name</label
          >
          <input
            :disabled="disabled"
            type="text"
            id="last_name"
            v-model="lastname"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Doe"
            required
          />
          <div v-if="$v.$error" class="error">Lastname is required.</div>
          <div v-if="$v.$error" class="error">Lastname must be at least 3 characters.</div>
        </div>
        <div class="col-span-2">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Email address</label
          >
          <input
            :disabled="disabled"
            type="email"
            id="email"
            v-model="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="john.doe@company.com"
            required
          />
          <div v-if="$v.$error" class="error">Valid email is required.</div>
          <div class="text-center m-auto mt-3">
            <button
              :disabled="disabled"
              id="authenticate-btn"
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
              @click="createPasskey()"
            >
              Authenticate
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="m-auto">
      <button
        id="verify-btn"
        :disabled="!disabled"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded-full"
        @click="verifyPasskey()"
      >
        Verify
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.error {
  color: red;
}
</style>

<script setup>
import { ref, onMounted, computed } from 'vue'
import { useVuelidate } from '@vuelidate/core'
import { required, minLength, helpers } from '@vuelidate/validators'

//the challenge is a crucial part of the authentication process,
//and is used to mitigate "replay attacks" and allow server-side authentication
//in a real app, you'll want to generate the challenge server-side and
//maintain a session or temporary record of this challenge in your DB

let disabled = ref(false)
let firstname = ref('')
let lastname = ref('')
let email = ref('')

const rules = computed(() => ({
  firstname: {
    required,
    minLength: minLength(3)
  },
  lastname: {
    required,
    minLength: minLength(3)
  },
  email: {
    required,
    regex: helpers.regex(/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/)
  }
}))

const $v = useVuelidate(rules, {
  firstname,
  lastname,
  email
})
 
const generateRandomChallenge = () => {
  let length = 32
  let randomValues = new Uint8Array(length)
  window.crypto.getRandomValues(randomValues)
  return randomValues
}

const createPasskey = async () => {
  const result = $v.value.$validate()
  result
    .then(async (res) => {
      if (res) {
        console.debug('Form submitted.')

        if (!navigator.credentials || !navigator.credentials.create || !navigator.credentials.get) {
          return alert('Your browser does not support the Web Authentication API')
        }
        let credentials = await navigator.credentials.create({
          publicKey: {
            challenge: generateRandomChallenge(),
            rp: { name: 'WebApp', id: window.location.hostname },
            //here you'll want to pass the user's info
            user: {
              id: new Uint8Array(16),
              name: email.value,
              displayName: firstname.value + ' ' + lastname.value
            },
            pubKeyCredParams: [
              { type: 'public-key', alg: -7 },
              { type: 'public-key', alg: -257 }
            ],
            timeout: 60000,
            authenticatorSelection: {
              residentKey: 'preferred',
              requireResidentKey: false,
              userVerification: 'preferred'
            },
            attestation: 'none',
            extensions: { credProps: true }
          }
        })
        //in a real app, you'll store the credentials against the user's profile in your DB
        //here we'll just save it in a global variable
        window.currentPasskey = credentials
        console.log(credentials)

        //we update our demo buttons
        document.getElementById('authenticate-btn').innerHTML = 'Authenticated'
        disabled.value = true
      }
    })
    .catch((err) => {
      console.log(err)
    })
}

const verifyPasskey = async () => {
  try {
    //to verify a user's credentials, we simply pass the
    //unique ID of the passkey we saved against the user profile
    //in this demo, we just saved it in a global variable
    let credentials = await navigator.credentials.get({
      publicKey: {
        challenge: generateRandomChallenge(),
        allowCredentials: [{ type: 'public-key', id: window.currentPasskey.rawId }]
      }
    })
    console.log(credentials)
    alert('Biometric authentication successful!')
  } catch (err) {
    alert(err)
  }
}

onMounted(() => {
  //   console.log(credential)
})
</script>
