<template>
  <div class="container mx-auto">
    <header class="bg-cyan-400 px-6 py-10 text-center">
      <h1 class="text-3xl font-bold underline">testing PWA stuff</h1>
    </header>
    <main class="bg-cyan-400/50">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-1 md:gap-4">
        <GetGeolocation @get-geolocation="getGeolocation" />
        <LeafletMap :foo="location" bar="hello world" />
        <WebAuthn />
        <PromptInstall />
        <ToastNotification />
        <TakePicture />
        <BrowseDocument />
        <!-- <TheWelcome /> -->
      </div>
    </main>
    <footer class="bg-amber-500/75 px-6 py-10 text-center">made by me with my heart</footer>
  </div>
</template>

<style scoped lang="scss"></style>

<script setup>
// import HelloWorld from './components/HelloWorld.vue'
// import TheWelcome from './components/TheWelcome.vue'
import TakePicture from './components/TakePicture.vue'
import PromptInstall from './components/PromptInstall.vue'
import GetGeolocation from './components/GetGeolocation.vue'
import LeafletMap from './components/LeafletMap.vue'
import BrowseDocument from './components/BrowseDocument.vue'
import ToastNotification from './components/ToastNotification.vue'
import WebAuthn from './components/WebAuthn.vue'

import { ref } from 'vue'

let location = ref({})

const getGeolocation = (position) => {
  console.log('app.vue', position)
  location.value = position
}
</script>
